body {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    font-family: 'Arial', sans-serif;
    text-align: center;
    overflow: hidden;
}

.container {
    margin-top: 100px;
    background: white;
    padding: 40px;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    animation: aparecer 2s ease;
}

@keyframes aparecer {
    from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}

h1 {
    color: #ff4d6d;
}

.texto {
    color: #555;
    margin-bottom: 20px;
    font-size: 18px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px;
}

#si {
    background-color: #ff4d6d;
    color: white;
    transition: 0.3s;
}

#si:hover {
    transform: scale(1.1);
}

#no {
    background-color: gray;
    color: white;
    position: absolute;
}

/* Corazones */
.corazon {
    position: absolute;
    color: red;
    font-size: 20px;
    animation: flotar 5s linear infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px);
        opacity: 0;
    }
}
